body {
  background: LightSteelBlue;
}

h2{text-align: center;
   width: 100%;
   font-size: 25px;
}

h6{text-align: center;
   width: 100%;}

.jumbotron {
    text-align: center;
    background-color: rgba(3, 48, 100, 0.411);
    min-height: 75px;
}

#pie { 
    width: 100%;
    height: 100%;
}

#gauge {
    width: 100%;
    height: 100%;
}

#bubble {
    text-align: center;
    width: 100%;
    height: 100%;
}

#scatter1 {
    text-align: center;
    width: 100%;
    height: 100%;
}

#scatter2 {
    text-align: center;
    width: 100%;
    height: 100%;
}