body {
  background: LightSteelBlue;
}

h1{text-align: center;
   width: 100%;
}

h6{text-align: center;
   width: 100%;}

.jumbotron {
    background-image: url("./img/chicagoskline.webp");
    text-align: center;
    background-color: rgba(3, 48, 100, 0.411);
    min-height: 75px;
}

pie {
    width: 100%;
    height: 100%;
}

gauge {
    width: 100%;
    height: 100%;
}

bubble {
    text-align: center;
    width: 100%;
    height: 100%;
}